@page
@model Ibas.MenuApp.Pages.ContactInfoModel

@{
    ViewData["Title"] = "Personale information";
}

<style>
  table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
  }
  th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
</style>

<div class="text-center">
    <h1 class="display-4">Personale information</h1>
    <table>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefon</th>
        </tr>
        <tr>
            <td>Karen</td>
            <td>Karen@mail.dk</td>
            <td>+45 88 88 88 88</td>
        </tr>
    </table>
</div>
